extends layout

block additionalScripts
  script
    var replayData = !{JSON.stringify(replayData,null,2)}
  script(src='/javascripts/replay.js', type='text/javascript')

block wrapper
  select#problem-attempts
    option(value="0") Select a problem attempt
  br
  input#event-text-visibility(type="checkbox", checked="checked", name="event-text-visibility")
  label(for="event-text-visibility") Event Text
  div#screen-wrapper
    svg#screen
      g#game-objects
      g#touches
    div#play-controls
      div#time-display
      div#timeline
        div#progress
  div#curr-pa-events 
  div#parse-replays-log 
    div.gripper
