extends layout

block additionalScripts
  script
    var users = !{JSON.stringify(users)}
  script(src='/javascripts/replay.js', type='text/javascript')

block wrapper
  table
    tbody
      tr
        td.label User: 
        td
          div#user-search
            input#user(type="text")
            br
            div#matching-users
      tr
        td.label Problem Attempt:
        td
          select#problem-attempts
            option(value="0") Select a problem attempt
  ul#filter-events
    li
      input#event-text-visibility(type="checkbox", checked="checked", name="event-text-visibility")
      label(for="event-text-visibility") Event Text
    li(data-doc-type="ProblemAttempt", class="doc-type-color")
      input(type="checkbox", checked="checked", name="show-pa-events")
      label(for="show-pa-events") Problem Attempt
    li(data-doc-type="ProblemAttemptGOPoll", class="doc-type-color")
      input(type="checkbox", checked="checked", name="show-go-polling-events")
      label(for="show-go-polling-events") Game Object Polling
    li(data-doc-type="TouchLog", class="doc-type-color")
      input(type="checkbox", checked="checked", name="show-pa-events")
      label(for="show-touch-events") Touch
  div#curr-pa-events 
  div#screen-wrapper
    svg#screen
      g#game-objects
      g#touches
    div#play-controls
      div#time-display
      div#timeline
        div#progress
  div#parse-replays-log 
    div.gripper
