extends layout

block additionalScripts
  script
    var users = !{JSON.stringify(users)}
  script(src='/javascripts/replay.js', type='text/javascript')

block wrapper
  table
    tbody
      tr
        td.label User: 
        td
          div#user-search
            input#user(type="text")
            br
            div#matching-users
      tr
        td.label Problem Attempt:
        td
          select#problem-attempts
            option(value="0") Select a problem attempt
  input#event-text-visibility(type="checkbox", checked="checked", name="event-text-visibility")
  label(for="event-text-visibility") Event Text
  br
  div#curr-pa-events 
  div#screen-wrapper
    svg#screen
      g#game-objects
      g#touches
    div#play-controls
      div#time-display
      div#timeline
        div#progress
  div#parse-replays-log 
    div.gripper
