* { font-family:Helvetica; font-size:13px; }
body { margin:0; padding:0; }
table { border-collapse:collapse; }
textarea { margin:0 }
a { color: #00B7FF; }
div { padding: 0; margin: 0; }
table { border-collapse:collapse; padding:0; }
th, td { text-align:left; vertical-align:top; }

#wrapper { position:relative; margin:0; padding:0; }

svg { overflow:hidden; border:1px solid #ccc; }
svg.emphasis { border:2px solid #999; }

g.node rect.node-bg { fill:steelblue; stroke-width:0; }
g.node.in-focus rect.node-bg { stroke-width:2px; stroke:#333; }
text.node-description { font:12px Helvetica; }

div.add-btn { cursor:pointer; background-image:url('/images/add.png'); background-size:contain; background-repeat:no-repeat; width:17px; height:17px; }
div.del-btn { cursor:pointer; background-image:url('/images/remove.png'); background-size:contain; background-repeat:no-repeat; width:17px; height:17px; }

#right-panel { position:absolute; padding:0px; border:1px solid #ccc; overflow-y:auto; }
table#concept-node-data { width:100%; }
table#concept-node-data tr.field > td { vertical-align:top; padding:5px 0 1px 0; border-bottom:1px solid #ccc; }
table#concept-node-data tr.field > td[colspan="2"] { padding-left:3px; padding-right:10px; }
table#concept-node-data tr.field td.field-label { width:74px; padding-left:3px; }
table#concept-node-data tr.field td.field-data { padding-right:10px; }
table#concept-node-data tr.field textarea { resize:vertical; width:100%; overflow-x:hidden; }

table#concept-node-data table#pipelines { margin-top:5px; width:100%; }
table#concept-node-data table#pipelines td.del-pipeline { width:22px; vertical-align:top; padding: 20px 0 0 2px; }
table#concept-node-data table#pipelines td.txt { padding-right:2px; }
table#concept-node-data table#pipelines td.txt > a { line-height:10px; font-size:9px; }
table#concept-node-data table#pipelines td.txt > input { width:100%; }
table#concept-node-data div#insert-pipeline-btn { margin:4px 0 2px 2px; }
table#concept-node-data div#insert-tag-btn { margin:4px 0 2px 2px; }
table#concept-node-data div#concept-tags { margin-left:-1px; }
table#concept-node-data.none-selected div#insert-pipeline-btn { visibility:hidden; }
table#concept-node-data.none-selected div#insert-tag-btn { visibility:hidden; }
table#concept-node-data div.cn-tag { cursor:default; float:left; margin:0 0 1px 1px; padding:4px 1px 2px 1px; background-color:#eee; border:1px solid #ccc; font-size:11px; }
table#concept-node-data div.cn-tag > input { font-size:11px; }
table#concept-node-data div.cn-tag div.del-tag { float:right; margin-top:-2px; }

div#modal-bg { position:absolute; top:0; left:0; height:100%; width:100%; opacity:0.8; background-color:#000; }
div#modal-dialog { position:absolute; padding:2px; margin:auto; top:25%; left:0; right:0; background-color:#fff; border:2px solid #555; }
div#modal-dialog h1 { margin:2px; font-weight:800; font-size:14px; }
div#modal-dialog h2 { margin:2px; font-weight:600; font-size:12px; }
div#modal-dialog.warning-no-buttons { width:400px; height:50px; }
div#modal-dialog.single-input-no-buttons { width:400px; height:70px; }
div#modal-dialog.single-input-no-buttons input { margin-top:5px; width:394px; }

.button
, #cancel-page-changes
, #save-page-changes
{
    margin:1px; padding:1px; min-width:50px; text-align:center; display:inline-block; font-weight:400;
    -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;
}

.divLink
, .button
, #wrapper.unsaved-changes #cancel-page-changes
, #wrapper.unsaved-changes #save-page-changes
{
    color:#00f; cursor:pointer; font-weight:400; 
}

.button
, #wrapper.unsaved-changes #cancel-page-changes
, #wrapper.unsaved-changes #save-page-changes
{
    border:1px solid #00f; 
}

#cancel-page-changes
, #save-page-changes
, #wrapper.unsaved-changes.invalid-changes #save-page-changes
{
    color:#888; cursor:default; border:1px solid #888;
}


/* generic click-across */
table.click-across-outer td { cursor:default; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; } 
table.click-across-outer h4 { margin:10px 0 5px; }
table.click-across-outer td.click-across-controls { width:25px; height:200px; padding-top:60px; text-align:center; vertical-align:top; color:#777; cursor:default; font-weight:bold; font-size:18px; }
table.click-across-outer.left-selected td.click-across-controls .click-right, 
table.click-across-outer.right-selected td.click-across-controls .click-left { color:blue; cursor:pointer; }

table.click-across-outer div.scroll-div { overflow:auto; margin:0; padding:0; }

table.click-across-inner > thead > tr > th
, table.click-across-inner > tbody > tr > td { border:1px solid #333; vertical-align:middle; }
table.click-across-inner > tbody > tr.hover-drop-target > td { border:none; background-color:#cfc0c0; }

table.click-across-inner > tbody > tr { height:25px; }
table.click-across-inner > tbody > tr.selected { background-color:#cdf; }

/* specific click-across use case */
table.click-across-inner th.problem-id 
, table.click-across-inner td.problem-id { width:230px; }
table.click-across-inner th.problem-description 
, table.click-across-inner td.problem-notes { width:350px; }
table.click-across-inner th.problem-notes 
, table.click-across-inner td.problem-description { width:350px; }

select#select-pipeline { margin-top:20px; width:400px; }
