extends layout

block additionalScripts
    script(src='/javascripts/activity-feed.js', type='text/javascript')

block wrapper
  table#user-activity-feed
    each event in events
      tr
        td.date-time= event.doc.dateTime
        td.event-text= event.doc.text
