table#assessment-criteria()
  tr
    th.controls
      #new-criterion.button New Criterion 
    th.criterion-id ID
    th.criterion-name Name
    th.criterion-points-required Points Required
  each c in criteria
    - var criterion = c.doc
    include includes/assessment-criterion-rows
