extends layout

append wrapper
  h3 Content
  a(href='/content/problems') All Problems
  br
  a(href='/content/create-problem') Add Problem
  br
  //a(href='/content/problem/DummyProblemId') \tProblem Detail
  //br
  a(href='/content/problem-sequence') Element Problem Sequence
  br
  a(href='/content/element-assessment-criteria') Element Assessment Criteria
