extends layout

append additionalScripts
  script(src='/javascripts/create-problem.js', type='text/javascript')

append wrapper
  form(id='upload-form', method="post", enctype="multipart/form-data")
    p
      input(type="file", name="plist")
