extends layout

block additionalScripts
  script
    var kcm = !{JSON.stringify(map,null,2)}
  script(src='/javascripts/kcm/jquery.tmpl.js', type='text/javascript')
  script(src='/javascripts/kcm/d3.v2.NC-BRANCH.min.js', type='text/javascript')
  script(src='/javascripts/kcm/jquery.form.js', type='text/javascript')
  script(src='/javascripts/kcm/kcm.js', type='text/javascript')

block wrapper
  #right-panel
    table#concept-node-data.none-selected
      tr.field
        td.field-label Db Id:
        td.field-data
          span#concept-db-id
      tr.field
        td.field-label Graffle Id:
        td.field-data
          span#concept-graffle-id
      tr.field
        td.field-label Description:
        td.field-data
          textarea#concept-description(disabled='disabled', rows='10')
      tr.field
        td.field-label Notes:
        td.field-data
          textarea#concept-notes(disabled='disabled')
      tr.field
        td.field-label Tags:
          div#insert-tag-btn.add-btn
        td.field-data
          div#concept-tags
      tr.field
        td(colspan='2')
          | Pipelines:
          div#insert-pipeline-btn.add-btn
          table#pipelines
    form(id="upload-plists", action="/kcm/testpost", method="post")
      input(type="text", name="pipeline-id")
      input(type="file", multiple="multiple", name="plists", id="plists")
