span Problems:
table.ac-problems
  thead
    tr
      th.problem-id ID
      th.problem-description Description
      th.min-score Min Score
      th.max-score Max Score
  tbody
    each problem in problems
      tr
        td.problem-id #{problem.id}
        td.problem-description #{problem.key[1]}
        td.min-score #{problem.value.minScore}
        td.max-score #{problem.value.maxScore}

