!!!
html
  head
    title Beulga Learning Authoring
  body
    h1 Login
    form(action='/login', method='POST')
      input(type='hidden', name='redir', value=redir)
      p
        label(for='user', style='display:inline-block; width:70px;') User:
        input(type='text', name='user', id='user')
      p
        label(for='password', style='display:inline-block; width:70px;') Password:
        input(type='password', name='password', id='password')
      p
        input(type='submit')
